.about {
  padding-top: 10rem;
  display: flex;
}
.about .text-container,
.about .photo-container {
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5rem;
  margin: auto;
}

.about .text-container h1 {
  width: 100%;
  font-size: 40px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 0;
}
.about .text-container p {
  font-weight: 200;
  font-size: 15px;
}
.about .photo-container .background-photo {
  position: relative;
  height: 35vw;
  width: 35vw;
  border-radius: 50%;
  z-index: 1;
}
.about .photo-container .background-photo::before {
  content: "";
  position: absolute;
  top: -2rem;
  right: -2rem;
  height: 37vw;
  width: 37vw;
  background-color: #fffae8;
  border-radius: 50%;
  z-index: -1;
}
.about .photo-container .background-photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 50%;
  filter: grayscale(1);
}
@media screen and (max-width: 960px) {
  .about {
    flex-direction: column;
  }
  .about .text-container {
    width: 80%;
  }
  .about .photo-container {
    width: 100%;
    padding: 0 2rem;
    margin: auto;
  }
  .about .photo-container {
    margin: 5rem auto;
  }
  .about .photo-container .background-photo {
    height: auto;
    width: 50vw;
    aspect-ratio: 1/1;
  }
  .about .photo-container .background-photo::before {
    height: auto;
    width: 54vw;
    aspect-ratio: 1/1;
  }
}
@media screen and (max-width: 750px) {
  .about .text-container {
    width: 100%;
    padding: 0 2rem;
  }
  .about .photo-container .background-photo {
    height: auto;
    width: 70vw;
    aspect-ratio: 1/1;
  }
  .about .photo-container .background-photo::before {
    height: auto;
    width: 74vw;
    aspect-ratio: 1/1;
    top: -2rem;
    right: -2rem;
  }
}
@media screen and (max-width: 550px) {
  .about .photo-container .background-photo {
    height: auto;
    width: 80vw;
    aspect-ratio: 1/1;
  }
  .about .photo-container .background-photo::before {
    height: auto;
    width: 84vw;
    aspect-ratio: 1/1;
    top: -1rem;
    right: -1rem;
  }
}
@media screen and (max-width: 350px) {
  .about .text-container {
    width: 100%;
    padding: 0 1.5rem;
    text-align: justify;
  }
}
