.App {
  height: auto;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.page {
  flex: auto;
  width: 80vw;
  padding: 0rem 0 0 0;
  margin: auto;
  margin-bottom: 3rem;
}

h1 {
  font-size: 2em;
}

ul {
  padding: 0;
}

/* Text editor JS */
.codex-editor__redactor {
  padding-bottom: 0 !important;
}

@media screen and (max-width: 1050px) {
  .page {
    width: 100vw;
  }
}
