.App {
  height: auto;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

button:disabled {
  background-color: rgba(112, 112, 112, 0.2) !important;
  cursor: auto !important;
}

.page {
  flex: auto;
  width: 80vw;
  padding: 0rem 0 4rem 0;
  margin: auto;
  border-bottom: 1px solid #14141410;
}

h1 {
  font-size: 2em;
}

ul {
  padding: 0;
}

/* Material Table */
.MuiButtonBase-root.MuiIconButton-root.Mui-disabled.Mui-disabled {
  background-color: transparent !important;
}

/* Text editor JS */
.codex-editor__redactor {
  padding-bottom: 0 !important;
  margin: auto !important;
}

@media screen and (max-width: 1050px) {
  .page {
    width: 100vw;
  }
}
