.auth {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.auth h2 {
  font-size: 2em;
  margin: 4rem auto 2rem auto;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}
.auth input {
  width: 20rem;
  max-width: 95%;
  height: 3rem;
  border: 1px solid rgba(112, 112, 112, 0.1);
  margin: 0;
  margin-bottom: 2rem;
  font-family: "Poppins", sans-serif;
  padding: 0.5rem;
  color: #303030;
  outline: none;
}
.auth input::placeholder {
  font-weight: 300;
  color: rgba(112, 112, 112, 0.4);
}
.auth button {
  width: 20rem;
  height: 3rem;
  background-color: #ff0513;
  border: none;
  font: 200 18px "Poppins", sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s;
  border: 1px solid rgba(112, 112, 112, 0.1);
  color: #fff;
}
.auth button:hover {
  background-color: #fff;
  color: #ff0513;
  border: 1px solid #ff0513;
}
