.contact {
  display: flex;
  align-items: center;
}

.contact .text-container {
  width: 50vw;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact .text-container .background-text {
  position: relative;
  width: 25vw;
  min-width: 350px;
  min-height: 350px;
  height: 25vw;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact .text-container .background-text::before {
  content: "";
  position: absolute;
  top: -2rem;
  left: -2rem;
  width: 25vw;
  min-width: 350px;
  min-height: 350px;
  height: 25vw;
  background-color: #fffae8;
  border-radius: 50%;
  z-index: -1;
}
.contact .text-container .background-text .infos-details {
  margin: auto;
  width: fit-content;
  height: fit-content;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact .text-container .background-text .infos-details.infos-details p {
  width: 100%;
  text-align: left;
  margin: 0;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 960px) {
  .contact {
    height: auto;
    flex-direction: column;
  }
  .contact .text-container {
    width: 100vw;
    height: 70vh;
    position: relative;
  }
  .contact .text-container .background-text {
    min-width: 0;
    min-height: 0;
    width: 300px;
    height: 300px;
  }
  .contact .text-container .background-text::before {
    top: -1rem;
    left: -1rem;
    width: 300px;
    min-width: 0;
    min-height: 0;
    height: 300px;
  }
}
@media screen and (max-width: 350px) {
  .contact .text-container .background-text {
    min-width: 0;
    min-height: 0;
    width: 275px;
    height: 275px;
  }
  .contact .text-container .background-text::before {
    top: -1rem;
    left: -1rem;
    width: 275px;
    min-width: 0;
    min-height: 0;
    height: 275px;
  }
}
