.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact h1 {
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.contact p:nth-child(2) {
  font-family: "Spectral", serif;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.6;
  color: #141414;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0 0 3rem 0;
  text-align: center;
}
.contact .text-container {
  max-width: 95%;
  overflow: scroll;
  width: fit-content;
  height: fit-content;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.contact .text-container p {
  display: flex;
  align-items: center;
  font-family: "Spectral", serif;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.6;
  color: #141414;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0 0 0.5rem 0;
}
.contact .text-container p svg {
  margin-right: 1rem;
}

@media screen and (max-width: 1050px) {
  .contact {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 375px) {
  .contact {
    padding: 0 1rem;
  }
  .contact h1 {
    margin-bottom: 2rem;
  }
}
