.filter-container {
  font-family: "Poppins", sans-serif;
  color: #707070;
}

.filter-container ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.filter-container ul li {
  list-style-type: none;
  font-weight: 200;
  text-transform: capitalize;
  margin-right: 1rem;
}
.filter-container ul li a {
  display: block;
  cursor: pointer;
  padding: 0.5rem;
  white-space: nowrap;
  border: 1px solid rgba(112, 112, 112, 0.1);
  transition: 0.25s;
}
.filter-container ul li a:hover,
.filter-container ul li a.active {
  background-color: #fffae8;
  color: #707070;
  border: 1px solid #fffae8;
}

.filter-container .filter-container-list {
  display: flex;
  align-items: center;
}
.filter-container .filter-container-list .filters-button {
  height: fit-content;
  width: auto;
  font: 200 16px "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s;
  text-decoration: none;
  background-color: rgba(112, 112, 112, 0.05);
  border: 1px solid rgba(112, 112, 112, 0.05);
  padding: 0.5rem;
  color: #707070;
}
.filter-container .filter-container-list .filters-button.active,
.filter-container .filter-container-list .filters-button:hover {
  background-color: rgba(112, 112, 112, 0.1);
  border: 1px solid rgba(112, 112, 112, 0.05);
}
.filter-container .filter-container-list ul {
  flex-wrap: nowrap;
  width: fit-content;
}
.filter-container .filter-container-absolute {
  height: 100vh;
  width: 20rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;
  padding: 4rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: 0.25s;
}
.filter-container .filter-container-absolute .close-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.filter-container .filter-container-absolute li {
  margin: 0 1rem 1rem 0;
}
.filter-container .filter-container-absolute.open {
  transform: translateX(0);
}
.filter-container .filter-container-absolute,
.filter-container .filter-container-absolute.close {
  transform: translateX(-20rem);
}
.filter-container .filter-container-absolute h2 {
  font-weight: 400;
  margin-bottom: 2rem;
}

@media screen and (max-width: 960px) {
  .filter-container .filter-container-list {
    flex-direction: column;
  }
  .filter-container .filter-container-list .filters-button {
    margin: 1rem 0;
    width: 100%;
  }
  .filter-container .filter-container-absolute {
    height: 100vh;
    width: 100vw;
    z-index: 1000000;
  }
  .filter-container .filter-container-absolute,
  .filter-container .filter-container-absolute.close {
    transform: translateX(-100vw);
  }
}
