.form-user {
  height: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.form-user h2 {
  font-size: 2em;
  margin: 4rem auto 2rem auto;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}
.form-user input {
  width: 20rem;
  max-width: 95%;
  height: auto;
  border: none;
  font-family: "Poppins", sans-serif;
  padding: 0.75rem;
  background-color: #fff;
  border-image: initial;
  box-sizing: border-box;
  border: 1px solid rgba(112, 112, 112, 0.2);
  color: #303030;
  margin-bottom: 1rem;
  font-weight: 200;
}
.form-user input[disabled] {
  background-color: rgba(197, 197, 197, 0.1);
}
.form-user input::placeholder {
  color: rgb(112, 112, 112, 0.4);
}
.form-user button {
  width: 20rem;
  max-width: 95%;
  height: 3rem;
  background-color: #ff0513;
  border: none;
  font: 400 18px "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s;
  color: #fff;
}
.form-user button:hover {
  background-color: #cf000a;
}
.form-user p {
  text-decoration: underline;
  color: blue;
  margin: 2rem auto;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
.form-user p:hover {
  color: rgb(0, 0, 114);
}
