.form-contact {
  height: 100%;
  width: 50vw;
  text-align: center;
  margin-top: 5rem;
  padding-inline: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-contact .form-text-container h1 {
  font-weight: 600;
  margin: 0;
  margin-bottom: 1rem;
}
.form-contact .form-text-container p {
  font-weight: 200;
  margin-bottom: 2rem;
}
.form-contact .inputs-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 2rem 0;
}
.form-contact .inputs-container input {
  width: 45%;
  height: auto;
  border: none;
  font-family: "Spectral", sans-serif;
  font-size: 14px;
  padding: 0.75rem;
  background-color: #fff;
  border-image: initial;
  box-sizing: border-box;
  border: 1px solid rgba(112, 112, 112, 0.2);
  border-radius: 2px;
  color: #707070;
}
.form-contact .inputs-container input::placeholder,
.form-contact textarea::placeholder {
  color: rgb(112, 112, 112, 0.4);
}

.form-contact textarea {
  width: 100%;
  height: 8.5rem;
  border: none;
  font-family: "Spectral", sans-serif;
  font-size: 14px;
  padding: 1rem;
  background-color: #fff;
  border-image: initial;
  box-sizing: border-box;
  border: 1px solid rgba(112, 112, 112, 0.2);
  border-radius: 2px;
  color: #707070;
}
.form-contact button {
  height: 3.4rem;
  width: 100%;
  border: none;
  font: 300 20px "Spectral", sans-serif;
  color: black;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.25s background-color;
  box-sizing: border-box;
  border-radius: 2px;
}
.form-contact button:hover {
  background-color: black;
  color: #fff;
  border: none;
}
@media screen and (max-width: 960px) {
  .form-contact {
    height: fit-content;
    width: fit-content;
    padding-inline: 1rem;
    justify-content: flex-start;
  }
  .form-contact .form-text-container {
    width: 60%;
  }
  .form-contact .inputs-container {
    flex-direction: column;
    margin-bottom: 0;
  }
  .form-contact .inputs-container input {
    width: 60%;
    margin-bottom: 2rem;
  }
  .form-contact textarea {
    width: 60%;
  }
  .form-contact button {
    width: 60%;
  }
}
@media screen and (max-width: 560px) {
  .form-contact .form-text-container {
    width: 80%;
  }
  .form-contact .inputs-container input {
    width: 100%;
  }
  .form-contact textarea {
    width: 100%;
  }
  .form-contact button {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .form-contact .form-text-container {
    width: 90%;
  }
  .form-contact .inputs-container input {
    width: 100%;
  }
  .form-contact textarea {
    width: 100%;
  }
  .form-contact button {
    width: 100%;
  }
}
