.home {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: auto;
  position: relative;
}

.home .photo-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}
.home .photo-container img {
  width: 35%;
  height: 100%;
  object-fit: contain;
  margin: auto;
}

.home .text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}
.home .text-container * {
  margin: 0;
}
.home .text-container h1 {
  font-size: 4em;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}
.home .text-container h1 span {
  font-weight: 200;
  font-style: italic;
}

.home .text-container p {
  font-family: "Spectral", serif;
  font-size: 2em;
  font-weight: 200;
  text-transform: capitalize;
  font-style: italic;
  margin: 3rem 0;
  letter-spacing: 1px;
  color: #000000;
  text-align: center;
}
.home .text-container p span {
  font-weight: 100;
  color: #000000;
}
@media screen and (max-width: 1500px) {
  .home .photo-container {
    margin: 0;
    padding: 0 2rem;
  }
}
@media screen and (max-width: 1050px) {
  .home .photo-container img {
    width: 70%;
  }
  .home .text-container h1 {
    font-size: 4em;
  }
  .home .text-container p {
    font-size: 3em;
  }
}
@media screen and (max-width: 800px) {
  .home .text-container h1 {
    font-size: 3em;
  }
  .home .text-container p {
    font-size: 2em;
  }
}
@media screen and (max-width: 500px) {
  .home .photo-container img {
    width: 100%;
  }
  .home .text-container h1 {
    font-size: 2em;
  }
  .home .text-container p {
    font-size: 1.75em;
  }
}
@media screen and (max-width: 400px) {
  .home .text-container h1 {
    font-size: 1.5em;
  }
  .home .text-container p {
    font-size: 1.5em;
  }
}
