.home {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex: auto;
}
.home .photo-container {
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 5rem;
}
.home .photo-container img {
  width: 28rem;
  max-width: 90%;
  height: 80%;
  object-fit: cover;
  margin: auto;
  border-radius: 40px;
}

.home .text-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.home .text-container * {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
}

.home .text-container h1 {
  font-size: 6em;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 1rem;
}
.home .text-container h1 span {
  font-weight: 200;
  font-style: italic;
}

.home .text-container p {
  font-size: 3.5em;
  font-weight: 200;
  text-transform: capitalize;
  font-style: italic;
  margin: 0;
  margin-top: 3rem;
  letter-spacing: 1px;
  color: #797979;
}
.home .text-container p span {
  font-weight: 100;
  color: #8a8a8a;
}

@media screen and (max-width: 1050px) {
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home .photo-container {
    width: 100vw;
    margin: 0;
    height: fit-content;
    padding-top: 5rem;
  }
  .home .photo-container img {
    width: 70vw;
    max-width: 90%;
    height: 80%;
    object-fit: cover;
    border-radius: 40px;
  }
  .home .text-container {
    margin-top: 3rem;
    width: 100vw;
    justify-content: flex-start;
    align-items: center;
    flex: auto;
  }
  .home .text-container h1 {
    text-align: center;
    font-size: 4em;
  }
  .home .text-container p {
    text-align: center;
    font-size: 3em;
  }
}
@media screen and (max-width: 800px) {
  .home .photo-container {
  }

  .home .text-container {
  }
}
@media screen and (max-width: 500px) {
  .home .photo-container img {
    width: 80vw;
    height: 20rem;
  }
  .home .text-container {
    width: 100vw;
  }
  .home .text-container h1 {
    width: 100%;
    font-size: 2.5em;
    text-align: center;
  }
  .home .text-container p {
    width: 100%;
    text-align: center;
    font-size: 2em;
  }
}
@media screen and (max-width: 350px) {
  .home .photo-container img {
    width: 90vw;
  }
  .home .text-container h1 {
    font-size: 2em;
  }
  .home .text-container p {
    font-size: 1.5em;
  }
}
