.nav {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 5.5rem;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #707070;
}
.logo-container {
  height: 5.5rem;
  padding: 1rem;
  padding-left: 2rem;
}
.logo-container p {
  font-size: 18px;
  margin: 0;
}
.logo-container p:nth-child(1) {
  font-weight: 600;
}
.logo-container p:nth-child(1) span {
  font-weight: 600;
}
.logo-container p:nth-child(2) {
  font-size: 18px;
  font-weight: 200;
}
.logo-container p:nth-child(2) span {
  font-weight: 100;
}
.nav-ul {
  display: flex;
  justify-content: space-around;
  width: fit-content;
  height: 5.5rem;
  padding: 0;
  margin: 0;
}
.nav-burger {
  display: none;
  color: black;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.nav-ul li {
  width: 8rem;
  list-style-type: none;
}
.nav-ul li a {
  width: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  text-decoration: none;
  position: relative;
  z-index: 10;
  font-size: 14px;
  font-weight: 200;
  cursor: pointer;
  transition: 0.25s transform;
  color: #707070;
}
.nav-ul li a:hover {
  transform: scale(1.05);
}
.nav-ul li a.active {
  border-bottom: 1px solid #fffae8;
}
.nav-ul li a.active:before {
  content: "";
  display: block;
  width: 8rem;
  height: 5rem;
  background-color: #fffae8;
  position: absolute;
  top: 0;
  z-index: -1;
}

@media screen and (max-width: 960px) {
  .nav-burger {
    display: block;
    position: fixed;
    z-index: 5;
  }
  .logo-container {
    padding-left: 1rem;
  }
  .nav-ul {
    flex-direction: column;
    height: auto;
    position: fixed;
    top: 5.5rem;
    right: 1rem;
    z-index: 100000;
    transition: 0.25s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .nav-ul.close {
    transform: translateX(20rem);
  }
  .nav-ul.open {
    transform: translateX(0);
  }
  .nav-ul li {
    width: 8rem;
    height: 3rem;
  }
  .nav-ul li a {
    font-weight: 300;
    width: 8rem;
    height: 3rem;
    border-top: 1px solid rgba(207, 207, 207, 0.521);
    border-left: 1px solid rgba(207, 207, 207, 0.521);
    border-right: 1px solid rgba(207, 207, 207, 0.521);
    background-color: #fff;
  }
  .nav-ul li:nth-last-child(1) a {
    border-bottom: 1px solid rgba(207, 207, 207, 0.521);
  }
  .nav-ul li a.active {
    border: none;
  }
  .nav-ul li a.active:before {
    width: 8rem;
    height: 3rem;
  }
  .nav-ul li a:hover {
    transform: scale(1);
  }
}
