.nav-admin {
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-family: "Josefin Sans", sans-serif;
  padding: 0;
}

.nav-admin li {
  list-style-type: none;
  margin-right: 1rem;
}
.nav-admin li a {
  text-decoration: none;
  font-size: 0.75em;
  color: #303030;
  font-weight: 300;
  text-transform: uppercase;
}
.nav-admin li a:hover {
  text-decoration: underline;
}
.nav-admin span {
  margin: 0 2rem;
}

@media screen and (max-width: 1050px) {
  .nav-admin {
    margin-top: 6rem;
    height: fit-content;
    flex-direction: column;
  }
  .nav-admin li {
    margin-right: 0;
  }
  .nav-admin span {
    visibility: hidden;
  }
}
