.realisations {
  margin-bottom: 0;
  padding: 3rem 0;
}
.items-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.show-more-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem auto 0 auto;
}
.show-more-div button {
  height: fit-content;
  width: 10rem;
  padding: 1rem;
  font: 300 18px "Josefin Sans", sans-serif;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.25s;
}
.show-more-div button:hover {
  background-color: black;
  border: 1px solid #fff;
  color: #fff;
}
.show-more-div button:disabled {
  pointer-events: none;
  border: none;
}
@media screen and (max-width: 1050px) {
  .items-container {
    margin-top: 0;
    justify-content: space-around;
  }
}
