.realisation-page {
  display: flex;
  flex-direction: column;
}
/* Text container */
.realisation-page .text-container {
  width: 50vw;
  height: fit-content;
  margin: auto;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}
.realisation-page .text-container h1 {
  margin-top: 6rem;
  margin-bottom: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.realisation-page .text-container .photo-container {
  position: relative;
  height: 30rem;
  width: 30rem;
  margin: 3rem auto;
}
.realisation-page .text-container .photo-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
.realisation-page .text-container p {
  font-family: "Spectral", serif;
  text-align: justify;
  font-weight: 200;
  font-size: 1.3rem;
  color: #141414;
}
.realisation-page .text-container ul {
  padding: 0;
  width: fit-content;
  margin: 3rem auto;
}
.realisation-page .text-container ul li {
  font-family: "Spectral", serif;
  text-align: center;
  font-size: 1.3rem;
  list-style-type: none;
  color: #141414;
}
.realisation-page .text-container ul li span {
  font-weight: 200;
}
/* Photos container */
.realisation-page .photos-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.realisation-page .photos-container .photo-container {
  width: 300px;
  height: 300px;
  margin: 1rem;
  pointer-events: none;
}
.realisation-page .photos-container .photo-container .photo-content {
  width: 100%;
  height: 100%;
  position: relative;
  pointer-events: all;
  cursor: pointer;
}
.realisation-page .photos-container .photo-container .photo-content img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  pointer-events: none;
}
.realisation-page .photos-container .photo-container .photo-content svg {
  display: none;
}

.realisation-page .photos-container .photo-container .photo-content.active {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(112, 112, 112, 0.2);
  cursor: auto;
  pointer-events: all;
}
.realisation-page .photos-container .photo-container .photo-content.active img {
  height: 90%;
  width: auto;
  object-fit: contain;
  pointer-events: all;
}
.realisation-page .photos-container .photo-container .photo-content.active svg {
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #fff;
  pointer-events: fill;
  cursor: pointer;
  transition: 0.25s;
}
.realisation-page
  .photos-container
  .photo-container
  .photo-content.active
  svg:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1050px) {
  .realisation-page {
    padding: 0 1rem;
  }
  .realisation-page .text-container {
    width: 80%;
  }
  .realisation-page .text-container .photo-container {
    max-width: 100%;
  }
  .realisation-page .photos-container {
    justify-content: center;
  }
  .realisation-page
    .photos-container
    .photo-container
    .photo-content.active
    img {
    height: fit-content;
    width: auto;
    max-width: 90%;
  }
  .realisation-page
    .photos-container
    .photo-container
    .photo-content.active
    svg {
    left: auto;
    right: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .realisation-page .text-container {
    width: 100%;
  }
  .realisation-page .photos-container .photo-container {
    margin: 1rem 0;
    margin-top: 0;
  }
}
