.realisations {
  padding-top: 10rem;
  padding-inline: 5rem;
}
.realisations h1 {
  font-size: 40px;
  font-weight: 300;
  margin: 0;
}
.items-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .realisations {
    padding-top: 10rem;
    padding-inline: 2rem;
  }
}
@media screen and (max-width: 700px) {
  .item {
    width: 100%;
  }
}
