.button-delete-contenu {
  height: 3rem;
  width: 3rem;
  background-color: red !important;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.25s;
  font: 400 20px "Poppins";
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
.button-page-contenu {
  height: 3rem;
  width: 3rem;
  background-color: #f8c146;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.25s;
  font: 400 20px "Poppins";
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
.button-modal-contenu:hover {
  background-color: #d6000b;
}
